body {
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
}

.header_overlay:before {
	content: "";
	width: 100%;
   	height: 100%;
    	
	position: absolute;
   	top: 0;
   	left: 0;

	background-color: #090c35;
	opacity: 0.9;
}

.bkg_header {
	background-repeat: no-repeat;
	background-position: center 0;
	background-color: #090c35;
	background-size: cover;

	height: 100vh;
}

.content_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	position: relative;
	height: 65%;
	padding: 0 10%;

	font-size: 20px;
	font-family: "OpenSans-Bold";
	color: #ffffff;
	letter-spacing: 3px;
}

.logo {
	width: 130px;
	fill: #ffffff;
	position: relative;
	height: 30%	
}

.header_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: stretch;
	max-width: 100%;
	height: 70%;	
}

.header_right_text {
	align-self: flex-end;
	margin-left: 15%;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;	
	height: 35%;
}

.btn {
	display: flex;
	position: relative;
	width: 100%;
	height: 4em;
	margin: 5px 0;

	align-items: center;
	justify-content: center;

	background-color: #5e42b0;
	border-radius: 45px;
	
	font-size: 0.6em;
	font-family: "OpenSans-Regular";
	color: #ffffff;	
}

.apple_logo {
	height: 25px;
	fill: #ffffff;
	margin-bottom: 5px;
}	

.google_logo {
	height: 20px;
	fill: #ffffff;	
	margin-left: -7%;
}

.btn_text {
	margin: 2%;
}
.btn_bold_text {
	font-family: "OpenSans-Bold";
	text-align: left;
}

p {
	margin: 0 0;
}

/* блоки со спортсменами */
.sportsmen_block {
	display: flex;
	flex-direction: column;
}

.headline {
	font-size: 3em;
	font-family: "OpenSans-Bold";
	color: #e9e9e9;
	letter-spacing: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.img_athlets {
	align-self: flex-start;
	position: absolute;
}

.img_players {
	align-self: flex-start;
	position: absolute;
}

.sportsmen_content {
	display: flex;
	flex-direction: column;
	align-items: flex-start; 
	padding: 40px;
}

.light_gray {
	background-color: #fafafa;
}

.gray {
	background-color: #f4f2f8;
}

.purple {
	background-color: #513aa6;
	color: #ffffff;
}

.darck_blue {
	background-color: #0a0c2d;
	color: #ffffff;
}

.sportsmen_title_number {
	font-family: "OpenSans-Bold";
	font-size: 1em;
	color: #000000;

	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-color: #6a1db4;
}

.sportsmen_title {
	display: flex;
	align-items: flex-end;
	font-size: 0.7em;
	letter-spacing: 1px;
}

.sportsmen_description {
	font-family: "OpenSans-Regular";
	padding-top: 3%;
	text-align: justify;
	font-size: 0.8em;
	
}

.sportsmen_description:nth-child(4n+4) {
	color: #ffffff;
}

.sportsmen_title_text {
	font-family: "OpenSans-Bold";
	font-size: 2em;
	color: #bfbfbf;
}

/* блоки be active*/
.active_container {
		display: flex;
		flex-direction: column;
	}

.active_img {
	width: 100vw;
}

.number_block {
	width: 4em;
	height: 4em;
	background-color: #460099;
	
	font-family: "OpenSans-Bold";
	font-size: 1.2em;
	color: #ffffff;
	text-decoration: underline;
	text-align: center;
	position: absolute;

	margin-top: -70px;
	margin-left: 5%;
}

.active_content {
	background-color: #ffffff;
	width: 100%;

	font-size: 12px;	
}

.active_title {
	font-family: "OpenSans-Bold";
	color: #e9e9e9;
	letter-spacing: 3px;
	margin-top: 5%;
	margin-left: 5%;
}

.active_text {
	font-family: "OpenSans-Regular";
	font-size: 1.5em;
	color: #000000;
	padding-bottom: 15%;
	margin: auto 5%;
}

@media (max-width: 640px){
	.bkg_header {
		background-image: url(../img/football_767.jpg);
	}	

	.header_text  {
		font-size: 8vw;
	}

	.header_right_text {
		margin-top: 5%;
	}

	.buttons {
		flex-direction: column;
		padding: 0 10%;
		height: 20%;
	}

	.headline {
		margin: 5%;
	}
	
	.sportsmen_content {
		padding: 15% 5% 10% 5%;
	}

	.active_title {
		font-size: 2em;
	}

	.active_text {
		padding-top: 3%;
	}

	.img_athlets {
		align-self: center;
		position: relative;
		margin-bottom: -10%;
	}

	.img_players {
		align-self: center;
		position: relative;
		margin-bottom: -10%;
	}
}


@media (min-width: 641px) and (max-width: 960px) {
	.bkg_header {
		background-image: url(../img/football_1280.jpg);
	}

	.logo {
		width: 200px;
	}

	.header_text  {
		font-size: 7vw;
	}	

	.btn {
		width: 40%;
		height: 7.5vw;
		margin: 0 2%;
		font-size: 0.8em;
	}

	.apple_logo {
		height: 40px;
		margin-right: 10px;
	}

	.google_logo {
		height: 35px;
		margin-right: 10px;
	}

	.img_athlets {
		margin-left: -20%;
		margin-top: 7%;
	}

	.img_players {
		align-self: flex-end;
		margin-top: 90%; /* переделать */
	}

	.headline {
		font-size: 4em;
		margin-top: 60px;
	}

	.sportsmen_title {
		font-size: 1em;
	}

	.sportsmen_description {
		font-size: 1em;
	}

	/* для выравнивания блоков */
	.right {
		padding-right: 40%;
		padding-left: 5%;
	}

	.left {
		padding-left: 40%;
	}

	.number_block {
		width: 5.5em;
		height: 5.5em;
	}

	.active_title {
		font-size: 5.5em;
	}

	.active_text {
		font-size: 2.5em;
	}
}


@media (min-width: 961px) {
	.bkg_header {
		background-image: url(../img/football_1920.jpg);
	}

	.header_text {
		font-size: 4.5vw;
		margin-top: 15%;
	}

	.btn {
		width: 170px;
		margin: 0 10px;
	}

	.img_athlets {
		max-width: 45vh;
		margin-top: 20px;
		margin-left: 20%;
	}

	.img_players {
		align-self: flex-end;
		margin-top: 45%; /* переделать  Как правильно сделать? */
		max-width: 80vh;
	}

	.active_block {
		display: flex;
		flex-direction: row;
	}

	.active_img {
		width: 50vw;
		height: 50vh;
	}

	.active_content {
		width: 50vw;
	}

	.number_block {
		align-self: center;
		margin-left: 46.5vw;
	}

	.active_title {
		font-size: 3em;
		padding-top: 13vh;
		margin-left: 10%;
	}

	.active_text {
		margin-left: 10%;
		padding-top: 8%;
	}

	.reverse {
		flex-direction: row-reverse;
	}

	/* для выравнивания блоков */
	.right {
		padding-right: 50%;
		padding-left: 5%;
	}

	.left {
		padding-left: 50%;
	}
}
	
	


	.header_overlay:before {
		content: "";
		width: 100%;
    	height: 100%;
    	
   		position: absolute;
   		align-items: flex-end;

		background-color: #090c35;
		opacity: 0.9;
	}
	.bkg_footer {
		background-image: url(../img/game_767.jpg);
		background-repeat: no-repeat;
		background-position: center 0;
		background-color: #090c35;
		background-size: cover;

		min-height: 100vh;
	}

	